<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	.history{
		margin: 5%;
		background: #CCFFFF;
	}
	#eachHis{
		position: relative;
		padding: 30px 0; 
		text-align: center;
		margin: 4%;
		display: inline-block;
		background: #FFF;
		width: 40%;
		height: 300px;
		overflow: scroll;
		border-radius: 5px;
	}
	h2{
		padding: 10px;
	}
	#top{
		padding: 3px 10px;
		text-decoration: none;
		color: blue;
		position: fixed;
		top: 30px;
		left: 0;
		background: rgba(0,0,255,0.1);
		border-radius: 3px;
		margin-left: 20px;
	}
	#top:hover{
		opacity: 0.5;
	}
	#time{
		font-size: 0.6vw;
		position: absolute;
		top: 0;
		right: 0;
		color: #ccc;
		background: rgba(0,0,255,0.1);
	}
</style>

<h2>履歴</h2>
<a href="/" id="top">TOP PAGE</a>
<div class="history">
	<% i = @his.length - 1 %>
	<% while i >= 0 %>
	<% j = 0 %>
	<div id="eachHis">
		<% while j < @his[i].length - 2 %>
			<p class="each"><%= @his[i][j] %></p>
			<p>↓</p>
			<% j = j + 1 %>
		<% end %>
		<p class="each"><%= @his[i][j] %></p>
		<p id="time"><%= @his[i][j+1] %></p>
	</div>
	<% i = i - 1 %>
	<% end %>
</div>
