<div class="history"><a href="/history">履歴</a></div>

<form method="post" action="/new" name="form1">
<label for="inputText">
下の欄に日本語で文字を入力してください</label>
<hr>
<input type="text" name="body" id="inputText">

<div class="languages">
<div type="retranslate_space"><button type="retranslate" class="btn btn-default btn-lg">再翻訳</button></div>

<% @array1 = Array[
		[
			"zh-CN", "en", "ru", "ar", "fr", "de", "ko", "es", "nl", "iw",
			"pt", "vi", "th","zh-TW",  "af", "sq", "be", "bg", "ca", "ceb", "ny", "hr", "cs",
			"da", "eo", "et", "tl", "fi", "gl", "ka", "da", "el", "gu", "ht", "ha",
			"hi", "hmn", "hu", "is", "ig", "id", "ga", "it", "jw", "kn", "kk", "km",
			"lo", "la", "lv", "lt", "mk", "mg", "ms", "ml", "mt", "mi", "mr", "my",
			"ne", "no", "fa", "pl", "pa", "ro", "sr", "st", "si", "sk", "sl", "so",
			"su", "sw", "sv", "tg", "ta", "te", "tr", "uk", "ur", "uz", "cy", "yi",
			"yo", "zu"
		],
		[
			"中国[簡体字]", "英語", "ロシア語",
			"アラビア語", "フランス語", "ドイツ語", "韓国語",
			"スペイン語", "オランダ語", "ヘブライ語",
			"ポルトガル語", "ベトナム語", "タイ語","中国[繁体字]",
			"アフリカーンス語", "アルバニア語", "ベラルーシ語",
			"ブルガリア語", "カタルーニャ語", "セブアノ語",
			"チェワ語", "クロアチア語", "チェコ語", "デンマーク語",
			"エスベラント語", "エストニア語", "タガログ語",
			"フィンランド語", "ガリシア語", "ジョージア語",
			"デンマーク語", "ギリシア語", "グジャラト語",
			"ハイチクレオール語", "ハウサ語", "ヒンディー語",
			"モン語", "ハンガリー語", "アイスランド語", "イボ語",
			"インドネシア語", "アイルランド語", "イタリア語",
			"ジャワ語", "カンナダ語", "カザフ語", "クメール語",
			"ラオ語", "ラテン語", "ラトビア語", "リトアニア語",
			"マケドニア語", "マラガシ語", "マレー語",
			"マラヤーラム語", "マルタ語", "マオリ語",
			"マラーティー語", "ミャンマー語", "ネパール語",
			"ノルウェー語", "ペルシア語", "ポーランド語",
			"パンジャブ語", "ルーマニア語", "セルビア語", "ソト語",
			"シンハラ語", "スロバキア語", "スロベニア語",
			"ソマリ語", "スンダ語", "スワヒリ語", "スウェーデン語",
			"タジク語", "タミル語", "テルグ語", "トルコ語",
			"ウクライナ語", "ウルドゥ語", "ウズベク語",
			"ウェールズ語", "イディッシュ語", "ヨルバ語",
			"ズールー語"
		]
	]%>
	<div class="container-fluid">
		<div class="row">
					<% @array1[0].each_with_index do |entry, i|%>
						<div class="col-sm-1" style="background-color:#d;"><label><input type="checkbox" name="lang[]" value="<%= @array1[0][i] %>"><%= @array1[1][i] %></label></div>
						<% if i.modulo(12) ==11 then %>
						<div class="col-sm-12" style="background-color:#000000;"></div>
					<%end%>
			<%end%>
	  </div>
	</div>

	<!--メジャー言語-->
	<div class="container-fluid">
	  <div class="row">
		  <!--
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="en"><br>英語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="zh-CN"><br>中国[簡体字]</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="ru">ロシア語</label></div>   
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="ar">アラビア語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="fr">フランス語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="de">ドイツ語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="ko">韓国語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="es">スペイン語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="nl">オランダ語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="iw">ヘブライ語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="pt">ポルトガル語</label></div>
		<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="vi">ベトナム語</label></div>
		-->
	  </div>
	</div>
	
	<hr>
	<!--マイナー言語-->
	
	<div class="container-fluid">
	  <div class="row">
		  <!--
			<div class="col-sm-1" style="background-color:w;"><label><input type="checkbox" name="lang[]" value="th">タイ語</label></div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="af">アフリカーンス語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="sq">アルバニア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="be">ベラルーシ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="bg">ブルガリア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ca">カタルーニャ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ceb">セブアノ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ny">チェワ語</div>   
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="zh-TW">中国[繁体字]</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="hr">クロアチア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="cs">チェコ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="da">デンマーク語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="eo">エスベラント語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="et">エストニア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="tl">タガログ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="fi">フィンランド語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="gl">ガリシア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ka">ジョージア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="da">デンマーク語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="el">ギリシア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="gu">グジャラト語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ht">ハイチクレオール語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ha">ハウサ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="hi">ヒンディー語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="hmn">モン語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="hu">ハンガリー語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="is">アイスランド語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ig">イボ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="id">インドネシア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ga">アイルランド語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="it">イタリア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="jw">ジャワ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="kn">カンナダ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="kk">カザフ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="km">クメール語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="lo">ラオ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="la">ラテン語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="lv">ラトビア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="lt">リトアニア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="mk">マケドニア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="mg">マラガシ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ms">マレー語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ml">マラヤーラム語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="mt">マルタ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="mi">マオリ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="mr">マラーティー語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="my">ミャンマー語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ne">ネパール語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="no">ノルウェー語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="fa">ペルシア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="pl">ポーランド語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="pa">パンジャブ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ro">ルーマニア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="sr">セルビア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="st">ソト語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="si">シンハラ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="sk">スロバキア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="sl">スロベニア語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="so">ソマリ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="su">スンダ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="sw">スワヒリ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="sv">スウェーデン語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="tg">タジク語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ta">タミル語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="te">テルグ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="tr">トルコ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="uk">ウクライナ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="ur">ウルドゥ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="uz">ウズベク語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="cy">ウェールズ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="yi">イディッシュ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="yo">ヨルバ語</div>
			<div class="col-sm-1" style="background-color:w;"><input type="checkbox" name="lang[]" value="zu">ズールー語</div>
			-->
	  </div>
	</div>
</div>
<hr>
<!--<div type="retranslate"><input type="submit" value="再翻訳"> </div>-->
<div type="retranslate_space">
	<button type="retranslate" class="btn btn-default btn-lg">再翻訳</button></form>
</div>
<hr>
</form>
	<div type="all_select_space">
		<button type="all_select" class="btn btn-default btn-lg" onClick="selectAll()">全て選択</button>
		<button type="all_select" class="btn btn-default btn-lg" onClick="reselectAll()">全て解除</button>
		<button type="random" class="btn btn-default btn-lg" onClick="selectRandom()">おまかせ</button>
	</div>
	
  <div  class="container">
	<table class="table table-striped">
	<thead>
	  <tr>
		<th>翻訳結果</th>
	  </tr>
	</thead>
	<tbody>
	<tr>
	  </tr>
		<% @newResult.each do |result| %>
		<tr>
			<td><div type="process"><%= result.before %></div></td>
		</tr>
		<tr>
			<td><div type="cursor">↓</div></td>
		</tr>
		<% end %>
		
	</tbody>
  </table>
  </div>


<div type="answer"><%= @newResult.last.after %></div>
	<script>
		//結果をツイートする
		function tweet(){
			var langs=[];
			<% @newResult.each do |result| %>
				langs.push(<%= result.before.to_json %>);
			<% end %>
			//var orig_str=<%=  @newResult[0].to_json%>;
			var final_str=<%=  @newResult.last.after.to_json%>;
			var linked_str="";
			console.log(langs.length);
			for(var i=0;i<langs.length;i++){
				linked_str=linked_str.concat(langs[i]);
				linked_str=linked_str.concat("%0d↓%0d");
			}
			window.open(
				'http://twitter.com/home?status='+
				//---↓ここにツイート文を記入
				linked_str+
				final_str
				//---↑ここまで
				,'_blank');				
		};
		
		
		//ツイートその2
		function tweet2(){
			var langs=<%=@languages%>;
				var orig_str=<%=  @newResult[0].before.to_json%>;
			var final_str=<%=  @newResult.last.after.to_json%>;
			var linked_str="";
			console.log(langs.length);
			for(var i=0;i<langs.length;i++){
				linked_str=linked_str.concat(langs[i]);
				//linked_str=linked_str.concat("%0d↓%0d");
				linked_str=linked_str.concat("→");
			}
			window.open(
				'http://twitter.com/home?status='+
				//---↓ここにツイート文を記入
				"「"+
				orig_str+
				"」は"+"%0d["+
				linked_str+"ja]%0dと翻訳すると%0d%0d"+
				"「"+
				final_str+
				"」%0dになる"
				//---↑ここまで
				,'_blank');				
		};
		
			var array1=["zh-CN", "zh-TW", "en", "ru", "ar", "fr", "de", "ko", "es", "nl", "iw",
		"pt", "vi", "th", "af", "sq", "be", "bg", "ca", "ceb", "ny", "hr", "cs",
		"da", "eo", "et", "tl", "fi", "gl", "ka", "da", "el", "gu", "ht", "ha",
		"hi", "hmn", "hu", "is", "ig", "id", "ga", "it", "jw", "kn", "kk", "km",
		"lo", "la", "lv", "lt", "mk", "mg", "ms", "ml", "mt", "mi", "mr", "my",
		"ne", "no", "fa", "pl", "pa", "ro", "sr", "st", "si", "sk", "sl", "so",
		"su", "sw", "sv", "tg", "ta", "te", "tr", "uk", "ur", "uz", "cy", "yi",
		"yo", "zu"];
		//ツイートその3
		function tweet3(){
			var array2=["中国[簡体字]", "中国[繁体字]", "英語", "ロシア語",
		"アラビア語", "フランス語", "ドイツ語", "韓国語",
		"スペイン語", "オランダ語", "ヘブライ語",
		"ポルトガル語", "ベトナム語", "タイ語",
		"アフリカーンス語", "アルバニア語", "ベラルーシ語",
		"ブルガリア語", "カタルーニャ語", "セブアノ語",
		"チェワ語", "クロアチア語", "チェコ語", "デンマーク語",
		"エスベラント語", "エストニア語", "タガログ語",
		"フィンランド語", "ガリシア語", "ジョージア語",
		"デンマーク語", "ギリシア語", "グジャラト語",
		"ハイチクレオール語", "ハウサ語", "ヒンディー語",
		"モン語", "ハンガリー語", "アイスランド語", "イボ語",
		"インドネシア語", "アイルランド語", "イタリア語",
		"ジャワ語", "カンナダ語", "カザフ語", "クメール語",
		"ラオ語", "ラテン語", "ラトビア語", "リトアニア語",
		"マケドニア語", "マラガシ語", "マレー語",
		"マラヤーラム語", "マルタ語", "マオリ語",
		"マラーティー語", "ミャンマー語", "ネパール語",
		"ノルウェー語", "ペルシア語", "ポーランド語",
		"パンジャブ語", "ルーマニア語", "セルビア語", "ソト語",
		"シンハラ語", "スロバキア語", "スロベニア語",
		"ソマリ語", "スンダ語", "スワヒリ語", "スウェーデン語",
		"タジク語", "タミル語", "テルグ語", "トルコ語",
		"ウクライナ語", "ウルドゥ語", "ウズベク語",
		"ウェールズ語", "イディッシュ語", "ヨルバ語",
		"ズールー語"];
			var langList=[array1,array2];
			var langs=<%=@languages%>;
			var orig_str=<%=  @newResult[0].before.to_json%>;
			var final_str=<%=  @newResult.last.after.to_json%>;
			var linked_str="";
			var use_lang_num=langs.length;
			for(var i=0;i<langs.length;i++){
				for(var j=0;j<langList[0].length;j++){
					//言語が見つかれば
					if(langs[i].indexOf(langList[0][j])!=-1){
						linked_str=linked_str.concat(langList[1][j]);	
					}
				}
				
				//linked_str=linked_str.concat(langs[i]);
				//linked_str=linked_str.concat("%0d↓%0d");
				linked_str=linked_str.concat("→");
			}
			window.open(
				'http://twitter.com/home?status='+
				//---↓ここにツイート文を記入
				"「"+
				orig_str+
				"」は"+"%0d[日本語→"+
				linked_str+"日本語]"+
				"%0dと翻訳すると%0d%0d"+
				"「"+
				final_str+
				"」%0dになる%0d"+
				"経由言語数:"+
				use_lang_num+
				"%0d%23再翻訳したったー%0d"
				//---↑ここまで
				,'_blank');			
		};
		
		
		function selectAll2(){
			for(i=0; i<array1.length; i++) {
				document.checklist.elements["lang[]"].checked = true;
			  }
			console.log(num=document.checklist.length-1);
		for ( i=0; i<document.form1.length-1; i++ ){	// チェックボックスの数分ループ
			if ( document.form1.elements[i].checked == false ){	// チェックはオンか？
				console.log(i);
				document.checklist.elements[i].checked=true;
			}	
		}	
		}
		
		function selectAll(){
		  num = 0;	//ﾁｪｯｸされている項目数
		  chkvalue = "";	//ﾁｪｯｸされている項目値
			for(i=0 ; i<document.form1.elements['lang[]'].length ; i++){
				document.form1.elements['lang[]'][i].checked=true;
			  //if(document.form1.lang.checked)	{
				  
			//}
		  }
		}
		function reselectAll(){
		  num = 0;	//ﾁｪｯｸされている項目数
		  chkvalue = "";	//ﾁｪｯｸされている項目値
			for(i=0 ; i<document.form1.elements['lang[]'].length ; i++){
				document.form1.elements['lang[]'][i].checked=false;
		  }
		}
		
		function selectRandom(){
			reselectAll();
			var num=parseInt(Math.floor( Math.random() * 8 )+3) ;
			var max=parseInt(document.form1.elements['lang[]'].length);
			for(var i=0;i<num;i++){
				var rand=parseInt(Math.floor( Math.random() * max ));
				document.form1.elements['lang[]'][rand].checked=true;
			}
		}
		
		
	  
		function sound()
		{
			// [ID:sound-file]の音声ファイルを再生[play()]する
			var audio=document.getElementById( 'sound-file' );
			audio.loop = true;
			audio.play() ;
		}
 
 
	  
	
</script>
	<!-- ページ読み込み時にBGMを再生-->
	<body onLoad="sound()">
	<!-- 音声ファイルの読み込み-->
	<audio id="sound-file" preload="auto">
		<source src="assets/sound2.mp3" type="audio/mp3">
	</audio>
	
	<div class="tweet"><a href="javascript:void(0);" onclick="tweet3();">結果をツイートする</a></div>

	
