<!DOCTYPE html>
<html lang="ja">
	<head>
	  <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- BootstrapのCSS読み込み -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery読み込み -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- BootstrapのJS読み込み -->
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- CSSの読み込み -->
		<link rel="stylesheet" href="style.css">
	  <title>Translate</title>
	</head>
	<body>
		<!--ここからタイトルなど...-->
		<div class="title" id="pageTop">
		再翻訳
		</div>
		<div id="pageLink">
			<div class="link">
				<a href="#pageTop">↑Top</a>
				<a href="#pageBottom">↓Bottom</a>
			</div>
		</div>
		<!--ここまで-->
		<div class="translate">
			<%= yield %>
		</div>
		<!--
		<header style="background-color:gray">Header</header>
		<div class="container-fluid">
		  <div class="row">
			<div class="col-sm-2" style="background-color:red;">Red</div>
			<div class="col-sm-8" style="background-color:blue;">Blue</div>
			<div class="col-sm-2" style="background-color:yellow;">Yellow</div>
		  </div>
		</div>
		<footer style="background-color:gray">Footer</footer>
		-->
		<div id="pageBottom"></div>
	</body>
</html>
