{
}
/*主に画面全体*/
body{
	background-image: url(http://www.netyasun.com/home/bk-img/b119.jpg);
}

/*メインコンテンツ
 *文字入力欄
 *経由言語
 * 翻訳ボタン
 * 実行結果
*/
div.translate{
	margin:20px 150px;
	padding:10px;
	border:4px solid #000000;
}

/*「日本語」ラベル*/ 
div label[for="inputText"]{
  /*border: 4px dotted #aaa;*/
  
  position: relative;
    padding: 0.8em;
    margin: 0 0 1.5em;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #B92A2C;
    transform: rotate(-1deg) skew(-1deg);
    -webkit-transform: rotate(-1deg) skew(-1deg);
    -moz-transform: rotate(-1deg) skew(-1deg);
    -o-transform: rotate(-1deg) skew(-1deg);
    -ms-transform: rotate(-1deg) skew(-1deg);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
}
/*「日本語」ラベル*/
div label:after{
	content: "\A";
	white-space: pre ;
}


/*翻訳追加チェックボックス*/
div.languages{
	font-size:17px;
	/*transform:*/
	margin:0 40px;
	/*white-space: nowrap;*/
}


/*テキスト入力欄*/
div input[type="text"] {
	font-size:30px;
	/*width:550px;
	height:40px;*/
	
	width:100%;
	
  word-wrap: break-word;
  white-space: normal;
  display: block;
  text-align: center;
  
  margin:auto;
}

/*途中経由文字列*/
div [type="process"]{
	/*font-size:25pt;
	text-align:center;
	/*border: 2px solid #ccc;
	margin:auto;*/
}

/*矢印*/
div [type="cursor"]{
	/*font-size:45pt;
	text-align:center;
	/*border: 2px solid #ccc;*/
	margin:auto;
	margin:-25px 0px -25px 0px;
}


/*実行結果*/
div [type="answer"]{
	font-size:55pt;
	text-align:center;
	/*border: 2px solid #ccc;*/
}



/*ボタン*/
/*ボタンの中央揃えはボタンをラベルでくくる?*/
div  [type="retranslate"]{
	font-size:30pt;
	margin:auto;
  text-align: center;
}

div [type="retranslate_space"]{
	margin:50px 50px 50px 50px;
}

/*「再翻訳」ボタン(1つめ)*/
div div input{
	 width:300px
     color:#ffffff
     background:#337fcc
     font-size:28px
     font-weight:bold;
     text-align:center;
     display:block;
     border:1px solid #225588
     padding:12px 0 8px 0
}

/*「再翻訳」ボタン(2つめ)のスペース*/
div [type="retranslate_space"]{
width:300px
     color:#ffffff
     background:#337fcc
     font-size:28px
     font-weight:bold;
     text-align:center;
     display:block;
     border:1px solid #225588
     padding:12px 0 8px 0
}

/*「翻訳結果」の文字*/
tr th{
	 position: relative;
    color: #fff;
    background: #B92A2C;
    font-size: 1.143em;
    font-weight: bold;
    margin: 0 -1.8em 1.5em -1.8em;
    padding: 0.8em;
    box-shadow: 0 1px 3px #777;
    -moz-box-shadow: 0 1px 3px #777;
    -webkit-box-shadow: 0 1px 3px #777;
    -o-box-shadow: 0 1px 3px #777;
    -ms-box-shadow: 0 1px 3px #777;
}

/*翻訳途中の文字列*/
div [type="process"]{
	font-size:30pt;
	text-align: center;
}

/*↓矢印*/
 div [type="cursor"]{
	font-size:45pt;
       width:auto;
	margin:-25px -2px -25px -25px;
	text-align: center;
}

/*言語すべてをくくる*/
div [type="languages"]{
	border:3px groove #8B0000;
	padding:30px;
	margin:55px 0px 55px 0px;
}

/*タイトル*/
div.title{
	 position: relative;
    padding: 0.5em;
    margin: 0 0 1em;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #B92A2C;
    transform: rotate(-1deg) skew(-1deg);
    -webkit-transform: rotate(-1deg) skew(-1deg);
    -moz-transform: rotate(-1deg) skew(-1deg);
    -o-transform: rotate(-1deg) skew(-1deg);
    -ms-transform: rotate(-1deg) skew(-1deg);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 1.0em 0 0 0 #B92A2C, -1.0em 0 0 0 #B92A2C;
}

/*全選択ボタン*/
div [type="all_select_space"]{
     width:300px
     color:#ffffff
     background:#337fcc
     font-size:28px
     font-weight:bold;
     text-align:center;
     display:block;
     border:1px solid #225588
     padding:12px 0 8px 0
}

div.history{
	font-size:30px;
	text-align: right;
}

div.tweet{
	font-size:35pt;
	text-align: left;
}

div.link{
	font-size:15pt;
	position: fixed;
	margin:-190px 0px 0px 0px;
}
